.catalog {

    padding: 20px 0 28px;
    overflow-x: hidden;
    width: fit-content;
    // .catalog__list

    @media (min-width: 768px) {
        padding: 32px 0;
    }

    @media (min-width: 1024px) {
        padding: 40px 0;
    }

    &__list {
        display: flex;
        gap: 4px;
        flex-wrap: nowrap;
    }

    // .catalog__item

    &__item {
        border-radius: 32px;
        border: 1px solid transparent;
        background-color: #EEEFF2;
        color: #969EAE;
        transition: all .3s;
        outline: none;
        overflow: hidden;

        &:not(&-current):hover, &:not(&-current):focus-visible {
            border-color: #0044F0;
            color: #0044F0;
        }
        
        &-current {
            background-color: #0044F0;
            border-color: #0044F0;
            color: #ffffff;
        }
    }

    // .catalog__link

    &__link {
        display: block;
        padding: 10px 13px 12px;
        color: inherit;
        
    }
}

