.goods {

    padding-bottom: 138px;

    @media (min-width: 768px) {
        padding-bottom: 150px;
    }

    @media (min-width: 1024px) {
        padding-bottom: 198px;
    }

    // .goods__title

    &__title {
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 1em;

        @media (min-width: 768px) {
            font-size: 32px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    // .goods__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
        margin: 0 -4px;

        @media (min-width: 768px) {
            margin: 0 -5px;
        }

        @media (min-width: 1024px) {
            margin: 0 -8px;
            row-gap: 40px;
        }
    }

    // .goods__item

    &__item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 4px;

        @media (min-width: 768px) {
            flex-basis: 33.33333%;
            max-width: 33.33333%;
            padding: 0 5px;
        }

        @media (min-width: 1024px) {
            padding: 0 8px;
        }

        @media (min-width: 1024px) {
            flex-basis: 25%;
            max-width: 25%;
        }
    }

}
.card {
    display: grid;
    gap: 12px;
    position: relative;
    color: #1C1C1C;
    height: 100%;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        align-items: center;
        gap: 16px 0;
        font-size: 16px;
    }

    // .card__like

    &__like {
        position: absolute;
        top: 12px;
        right: 12px;
        
    }

    // .card__image

    &__image {
        border-radius: 16px;
        height: 120px;
        width: 100%;
        object-fit: cover;

        @media (min-width: 768px) {
            grid-column: 1 / -1;
            height: 200px;
            width: 100%;
        }

        @media (min-width: 1024px) {
            height: 250px;
        }
    }

    // .card__title

    &__title {
        font: inherit;
        
        @media (min-width: 768px) {
            
        }
    }

    // .card__price

    &__price {
        padding-top: 6px;
        font-size: 16px;

        @media (min-width: 768px) {
            padding-top: 0;
            text-align: right;
            font-size: 20px;
        }
    }

    // .card__btn

    &__btn {

        @media (min-width: 768px) {
            grid-column: 1 / -1;
            margin-top: 21px;
        }

        @media (min-width: 1024px) {
            margin-top: 2px;
        }
    }
}
