.product {

    padding-bottom: 60px;
    
    @media (min-width: 768px) {
        padding-bottom: 80px;
    }

    // .product__title

    &__title {
        margin-bottom: 24px;

        @media (min-width: 768px) {
            margin-bottom: 32px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    &__body {
        @media (min-width: 1024px) {
            display: flex;
            column-gap: 16px;
        }
    }

    // .product__slider

    &__slider {

        @media (min-width: 1024px) {
            flex: 0 0 620px;
            max-width: 620px;
        }

        @media (min-width: 1440px) {
            flex: 0 0 832px;
            max-width: 832px;
        }

        &-thumbnails {
            &.swiper {
                display: none;

                @media (min-width: 768px) {
                    display: block;
                    margin-top: 14px;
                }
            }
        }

        &.swiper {
            margin-left: 0;
            margin-right: 0;
        }

    }

    // .product__info

    &__info {

        color: #1C1C1C;
        margin-top: 32px;

        @media (min-width: 768px) {
            margin-top: 40px;
        }

        @media (min-width: 1024px) {
            flex-grow: 1;
            margin-top: 0;
        }
    }

    // .product__price

    &__price {
        font-size: 20px;
        margin-bottom: 12px;
    }

    // .product__id

    &__id {
        margin-bottom: 24px;
    }

    // .product__char

    &__char {
        margin-bottom: 24px;
    }

    // .product__char-title

    &__char-title {
        font-size: 16px;
        margin-bottom: 12px;
    }

    // .product__action

    &__action {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    // .product__btn

    &__btn {
        flex-grow: 1;
    }

}
.slider {

    // .slider__image

    &__image {
        border-radius: 16px;
        width: 100%;
        aspect-ratio: 1.2;
        object-fit: cover;
    }

    // .slider__arrow

    &__arrow {
        position: absolute;
        z-index: 10;
        width: 32px;
        height: 32px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .4s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.4);

        & svg path {
            fill: #1C1C1C;
        }

        &:hover {
            background-color: #ffffff;

            & svg path {
                fill: #0044F0;
            }
        }
    }

    // .slider__arrow-left

    &__arrow-left {
        left: 16px;

        @media (min-width: 768px) {
            left: 24px;
        }
    }

    // .slider__arrow-right

    &__arrow-right {
        right: 16px;

        @media (min-width: 768px) {
            right: 24px;
        }
    }

    // .slider__thumbnails-item

    &__thumbnails-item {
        cursor: pointer;
        opacity: .6;

        &.swiper-slide-thumb-active {
            opacity: 1;
        }
    }

    // .slider__thumbnails-image

    &__thumbnails-image {
        @media (min-width: 768px) {
            border-radius: 16px;
            width: 100%;
            aspect-ratio: 1.21;
            object-fit: cover;
        }
    }
}
.table {

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    // .table__row

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid #EEEFF2;
    }

    // .table__column-left

    &__column-left {
        color: #969EAE;
    }

    // .table__column-right

    &__column-right {
        color: #1C1C1C;
    }
}